<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>111303307_Taylor Swift</title>
    <link rel="stylesheet" href="C:\Users\User\Desktop\中央可憐蟲\大四上\電腦網路與程式\ME2025_HSF\HW_3\static\css\111303307_css.css">
</head>
<body>
    <h1>ShaoFu</h1>

    <div class="detail-container">
        <div class="detail-left">
            <img src="../static/img/taylorswift.jpg" alt="Taylor Swift" class="detail-img">
            <p><strong>出生日期：</strong>1989年12月13日</p>
            <p><strong>音樂類型：</strong>流行、鄉村、搖滾</p>
            <p><strong>代表作：</strong>《Love Story》、《Blank Space》、《Shake It Off</p>
        </div>
        
        <div class="detail-right">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9t-uGR55Ijo" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <form action="111303307_index.html" method="GET">
        <h2>回饋表單</h2>
        
        <label for="name">姓名：</label>
        <input type="text" id="name" name="name"><br><br>

        <label>你是怎麼知道這個網站的？</label><br>
        <input type="radio" id="friend" name="source" value="friend">
        <label for="friend">朋友推薦</label>
        <input type="radio" id="search" name="source" value="search">
        <label for="search">搜尋引擎</label><br><br>

        <label>你最喜歡的活動是：</label><br>
        <input type="checkbox" id="sports" name="activity" value="sports">
        <label for="sports">運動</label>
        <input type="checkbox" id="music" name="activity" value="music">
        <label for="music">音樂</label>
        <input type="checkbox" id="reading" name="activity" value="reading">
        <label for="reading">閱讀</label><br><br>

        <label for="profession">你平常喜歡的職業類型（可複選）：</label><br>
        <input type="checkbox" id="doctor" name="profession" value="doctor">
        <label for="doctor">醫生</label>
        <input type="checkbox" id="artist" name="profession" value="artist">
        <label for="artist">藝術家</label>
        <input type="checkbox" id="teacher" name="profession" value="teacher">
        <label for="teacher">教師</label><br><br>

        <label for="comments">備註：</label><br>
        <textarea id="comments" name="comments"></textarea><br><br>

        <button type="submit">提交意見</button>
    </form>
</body>
</html>
