<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>111303307_黃紹輔</title>
    <!-- 使用相對路徑來引入CSS -->
    <link rel="stylesheet" href="C:\Users\User\Desktop\中央可憐蟲\大四上\電腦網路與程式\ME2025_HSF\HW_3\static\css\111303307_css.css">
</head>
<body>
     <img class="bg-fixed" src="C:\Users\User\Desktop\中央可憐蟲\大四上\電腦網路與程式\ME2025_HSF\HW_3\static\img\img5.jpg" alt="" aria-hidden="true">
    <!-- 導航列 -->
    <nav>
        <a href="#aboutus">關於我們</a>
        <div class="dropdown">
            <button class="dropbtn">連結</button>
            <div class="dropdown-content">
                <a href="https://www.facebook.com/share/174PXaK4Fr/?mibextid=wwXIfr" target="_blank">Facebook</a>
                <a href="https://www.instagram.com/y.s_.f__?igsh=MTkxejVuenlmemM5dg%3D%3D&utm_source=qr" target="_blank">Instagram</a>
                <a href="https://www.linkedin.com/in/shao-fu-huang-017661236" target="_blank">LinkedIn</a>
            </div>
        </div>
    </nav>

    <!-- 內容區 -->
    <h1>3 Facts About 紹輔</h1>
    <div class="fact-container">
        <div class="fact">
            <!-- 包裹圖片和文字的 <a> 標籤，用來實現超連結 -->
            <a href="C:\Users\User\Desktop\中央可憐蟲\大四上\電腦網路與程式\ME2025_HSF\HW_3\templates\111303307_detail.html">
                <img src="C:\Users\User\Desktop\中央可憐蟲\大四上\電腦網路與程式\ME2025_HSF\HW_3\static\img\img1.jpg" alt="Looks" class="fact-img">
                <p>Looks: Amiable</p>
            </a>
        </div>
        <div class="fact">
            <a href="C:\Users\User\Desktop\中央可憐蟲\大四上\電腦網路與程式\ME2025_HSF\HW_3\templates\111303307_detail.html">
                <img src="C:\Users\User\Desktop\中央可憐蟲\大四上\電腦網路與程式\ME2025_HSF\HW_3\static\img\img2.jpg" alt="Photography" class="fact-img">
                <p>Habbits: Photography</p>
            </a>
        </div>
        <div class="fact">
            <a href="C:\Users\User\Desktop\中央可憐蟲\大四上\電腦網路與程式\ME2025_HSF\HW_3\templates\111303307_detail.html">
                <img src="C:\Users\User\Desktop\中央可憐蟲\大四上\電腦網路與程式\ME2025_HSF\HW_3\static\img\img3.jpg" alt="Burger" class="fact-img">
                <p>Favorite Food: Burger</p>
            </a>
        </div>
    </div>
</body>
</html>
