<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>111303307_黃紹輔</title>
    <link rel="stylesheet" href="C:\Users\User\Desktop\中央可憐蟲\大四上\電腦網路與程式\ME2025_HSF\HW_3\static\css\111303307_css.css">
</head>
<body>
    <h1>3 Facts About 紹輔</h1>
    <div class="fact-container">
        <div class="fact">
            <img src="C:\Users\User\Desktop\中央可憐蟲\大四上\電腦網路與程式\ME2025_HSF\HW_3\static\img\img1.jpg" alt="Badminton" class="fact-img">
            <p>Habit: play badminton</p>
        </div>
        <div class="fact">
            <img src="C:\Users\User\Desktop\中央可憐蟲\大四上\電腦網路與程式\ME2025_HSF\HW_3\static\img\img1.jpg" alt="Mathematics" class="fact-img">
            <p>Major: Mathematics</p>
        </div>
        <div class="fact">
            <img src="C:\Users\User\Desktop\中央可憐蟲\大四上\電腦網路與程式\ME2025_HSF\HW_3\static\img\img1.jpg" alt="Taylor Swift" class="fact-img">
            <p>Favorite Singer: Taylor Swift</p>
        </div>
    </div>
</body>
</html>
