<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>學號_姓名</title>
    <link rel="stylesheet" href="../static/css/學號_css.css">
</head>
<body>
    <h1>學號_姓名</h1>
    <table border="1">
        <tr>
            <th>事實</th>
            <th>內容</th>
        </tr>
        <tr>
            <td>姓名</td>
            <td>張三</td>
        </tr>
        <tr>
            <td>年齡</td>
            <td>25</td>
        </tr>
        <tr>
            <td>愛好</td>
            <td><a href="學號_detail.html">觀看我的詳細資料</a></td>
        </tr>
        <tr>
            <td>圖片</td>
            <td><a href="學號_detail.html"><img src="../static/img/profile.jpg" alt="Profile Image" width="100"></a></td>
        </tr>
    </table>
</body>
</html>
