<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>猜數字遊戲</title>
  <link rel="stylesheet" href="">
</head>

<body>
  <h1>猜數字遊戲（0～100）</h1>

  <label for="guessInput">請輸入一個 0~100 的整數：</label>
  <input id="guessInput" type="number" min="0" max="100" />
  <button id="guessBtn">猜！</button>

  <p id="helper" style="color:#666;"></p>

  <script src="../static/112601203_js_1.js"></script>
</body>
</html>