<html lang="zh-Hant">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>HW5 JavaScript2 - 購物車</title>
  <!-- 講義：使用方法 3（引入外部檔案） -->
  <link rel="stylesheet" href="../static/111303307_js_2.css" />
</head>
<body>
    <main class="container">
        <h1>購物車<h1>
        <table = "cart">
            <label><input type="checkbox" id="checkbox_all"/>全選</label>
            <tr>
                <th style="width: 110px;">商品名稱</th>
                <th style="width: 110px;">商品庫存</th>
                <th style="width: 110px;">單價</th>
                <th style="width: 110px;">數量</th>
                <th style="width: 110px;">總計</th>
            </tr>
        </thread>
        <tbody id="cart_body"></tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="total-label">總計</td>
                <td id="total_value" class="total-value">$0</td>
            </tr>
        </tfoot>
    </table>
    <button id="checkout_btn">結帳</button>
    </main>
    <script src="111303307_js_2.js"></script>
</body>
</html>    
      